html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }

  h2{text-align: center;}
  